
<template name="_landCombat">
  <div class="row">
    {{#if preLandCombat}}
      {{#each landCombatants}}
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <p>Be sure to fill out all values!</p>
            <form>
              <input type="text" id="name" placeholder="name">
              <div class="col s6 center-align">
                <input type="checkbox" id="{{_id}}-o">
                <label for="{{_id}}-o" class="checkbox-label">Offense</label>
              </div>
              <div class="col s6 center-align">
                <input type="checkbox" id="{{_id}}-d">
                <label for="{{_id}}-d" class="checkbox-label">Defense</label>
              </div>
              <h3 class="center-align">Units</h3>
              <div class="col s12">
                <input type="number" id="air" placeholder="Air Superiority">
              </div>
              <div class="col s6">
                <input type="number" id="s-res-inf" placeholder="# Res. Infantry">
              </div>
              <div class="col s6">
                <input type="number" id="u-res-inf" placeholder="Unsupplied">
              </div>
              <div class="col s6">
                <input type="number" id="s-inf" placeholder="# Infantry">
              </div>
              <div class="col s6">
                <input type="number" id="u-inf" placeholder="Unsupplied">
              </div>
              <div class="col s6">
                <input type="number" id="s-arm" placeholder="# Armor">
              </div>
              <div class="col s6">
                <input type="number" id="u-arm" placeholder="Unsupplied">
              </div>
              <div class="col s12">
                <input type="number" id="rockets" placeholder="Rockets">
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-pen1">
                <label class="checkbox-label" for="{{_id}}-pen1">Amphibious Assault Penalty</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(-1)</span>
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-pen2">
                <label class="checkbox-label" for="{{_id}}-pen2">River/Canal Crossing</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(-1)</span>
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-md">
                <label class="checkbox-label" for="{{_id}}-md">Mountain Defense</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(+10%)</span>
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-cd">
                <label class="checkbox-label" for="{{_id}}-cd">City/Port Defense</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(+10%)</span>
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-bz">
                <label class="checkbox-label" for="{{_id}}-bz">Blitz (Success)</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(x2)</span>
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-bd">
                <label class="checkbox-label" for="{{_id}}-bd">Blitz (Failure)</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(+25%)</span>
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-hd">
                <label class="checkbox-label" for="{{_id}}-hd">Hold Order</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(+25%)</span>
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-atmb">
                <label class="checkbox-label" for="{{_id}}-atmb">Atomic Bomb (Tactical)</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(+12)</span>
              </div>
              <div class="col s10 left-align">
                <input type="checkbox" id="{{_id}}-wd">
                <label class="checkbox-label" for="{{_id}}-wd">Winter Defense</label>
              </div>
              <div class="col s2 right-align">
                <span class="land-modifiers">(+5%)</span>
              </div>
              <div class="col s12">
                <input type="number" id="base-change" placeholder="Change Base Points">
              </div>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
      <div class="right-align">
        <button class="btn" id="submit-land">Submit Land Combat</button>
      </div>
    {{else}}
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content">
            <p>Winner: {{landWinner}}</p>
          </div>
        </div>
      </div>
      {{#each landResults}}
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <p>Combatant: {{name}}</p>
              <p>Casualties:</p>
              <ul>
                {{#each casualties}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</template>
