<template name="combat">
<div class="container">
  <ul class="tabs" style="margin-top:2rem;">
    <li class="tab col s4"><a href="#land">Land</a></li>
    <li class="tab col s4"><a href="#sea">Sea</a></li>
    <li class="tab col s4"><a href="#air">Air</a></li>
  </ul>
  <div id="land">{{> _landCombat}}</div>
  <div id="sea">{{> _seaCombat}}</div>
  <div id="air">{{> _airCombat}}</div>

</div>
</template>

<template name="_landCombat">
  <div class="row">
    {{#each landCombatants}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <form>
            <input type="text" placeholder="name">
            <input type="number" placeholder="Alliance Number">
            <h3 class="center-align">Units</h3>
            <div class="col s12">
              <input type="number" placeholder="# Aircraft">
            </div>
            <div class="col s6">
              <input type="number" placeholder="# Res. Infantry">
            </div>
            <div class="col s6">
              <input type="number" placeholder="Unsupplied">
            </div>
            <div class="col s6">
              <input type="number" placeholder="# Infantry">
            </div>
            <div class="col s6">
              <input type="number" placeholder="Unsupplied">
            </div>
            <div class="col s6">
              <input type="number" placeholder="# Armor">
            </div>
            <div class="col s6">
              <input type="number" placeholder="Unsupplied">
            </div>
            <div class="col s12">
              <input type="number" placeholder="Rockets">
            </div>
            <div class="col s12">
              <input type="checkbox"> Modifier
              <input type="checkbox"> Modifier
              <input type="checkbox"> Modifier
              <input type="checkbox"> Modifier
              <input type="checkbox"> Modifier
              <input type="checkbox"> Modifier
            </div>
            <div class="col s12">
              <input type="number" placeholder="Change Base Points">
            </div>
          </form>
          <h3 class="center-align">Casualties</h3>
          <div>
            Aircraft _________
          </div>
          <div>
            Submarines _________
          </div>
          <div>
            Lt. Fleets _________
          </div>
          <div>
            Hv. Fleets _________
          </div>
          <h3 class="center-align">Winner</h3>
          <div>
            <p>Winner is _____</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>


<template name="_seaCombat">
  <div class="row">
    {{#each seaCombatants}}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <form>
              <input type="text" placeholder="Name">
              <input type="number" placeholder="Alliance Number">
              <h3 class="center-align">Units</h3>
              <div class="row">
                <div class="col s12">
                  <input type="number" placeholder="# Aircraft">
                </div>
                <div class="col s6">
                  <input type="number" placeholder="# Submarines">
                </div>
                <div class="col s6">
                  <input type="number" placeholder="Unsupplied">
                </div>
                <div class="col s6">
                  <input type="number" placeholder="# Lt. Fleets">
                </div>
                <div class="col s6">
                  <input type="number" placeholder="Unsupplied">
                </div>
                <div class="col s6">
                  <input type="number" placeholder="# Hv. Fleets">
                </div>
                <div class="col s6">
                  <input type="number" placeholder="Unsupplied">
                </div>
              </div>
              <p><input type="checkbox"> Search</p>
            </form>
            <h3 class="center-align">Casualties</h3>
            <div>
              Aircraft _________
            </div>
            <div>
              Submarines _________
            </div>
            <div>
              Lt. Fleets _________
            </div>
            <div>
              Hv. Fleets _________
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>


<template name="_airCombat">
  <div class="row">
    {{#if preAirCombat}}
      {{#each airCombatants}}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <form>
                <input type="text" placeholder="Name" id="name">
                <input type="number" placeholder="Number of Planes" id="planes">
              </form>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      {{#each airResults}}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <p>Combatant: {{name}}</p>
              <p>Casualties: {{casualties}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="left-align">
    <button class="btn" id="add-air">+ Add Combatant</button>
  </div>
  <div class="right-align">
    <button class="btn" id="submit-air">Submit Air Combat</button>
  </div>
</template>
