<template name="home">
	<div class="scotland-background">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-content">
						<h2>this is the card</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="red-break"></div>
	<div class="flex-white">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h2 style="text-align:center;">An introduction by J.A. Sinclair</h2>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m10 offset-m1">
					<p>This game reflects my longstanding objections to much of the academic literature in international relations: the models inadequately deal with differing requirements for domestic politics, struggle to reflect the complexity of relationships between many different countries, and often ignore the influence of tactical requirements on strategic considerations.  I have kicked around some of the theoretical ideas included in this game for some time; Tom and I attended an IR lecture at Caltech maybe five years ago that greatly aggravated me (“how can you have a model of international relations that contains only two countries!”) and provided some impetus to think formally about these types of problems.</p>
					<p>Food truck keffiyeh dreamcatcher, vegan Helvetica yr fashion axe tote bag Austin put a bird on it DIY pickled banh mi. Vinyl food truck leggings, Neutra chia authentic PBR&amp;B wolf. Brooklyn Pitchfork deep v chia asymmetrical meh Echo Park. Godard normcore raw denim kale chips Bushwick, selfies wolf. 3 wolf moon freegan Echo Park, wayfarers food truck meditation Intelligentsia. Locavore slow-carb cardigan vegan Pitchfork, food truck authentic. Godard cred pop-up, try-hard +1 scenester Tumblr mumblecore single-origin coffee hoodie chambray seitan letterpress church-key bitters.</p>
					<p>Bespoke mixtape aesthetic, put a bird on it migas four dollar toast ennui shabby chic tote bag gastropub. Gluten-free Pitchfork Kickstarter, twee dreamcatcher authentic forage four dollar toast. Try-hard kitsch forage ugh iPhone organic. Fanny pack mlkshk twee DIY, Shoreditch squid mustache pour-over gluten-free polaroid YOLO. Organic wayfarers vinyl brunch, 90's beard sustainable fingerstache. Tofu semiotics shabby chic, McSweeney's street art trust fund Tumblr pug banjo freegan flexitarian pickled Marfa quinoa hella. +1 normcore yr, aesthetic selfies mixtape street art pop-up hoodie.</p>
					<p>Shoreditch bitters Schlitz twee Wes Anderson, Portland lumbersexual. Chambray ethical fap, vegan actually banh mi Pinterest kitsch chillwave. Semiotics YOLO ugh Carles migas shabby chic. DIY chambray Banksy High Life normcore, ennui farm-to-table Thundercats yr mustache Neutra gluten-free Williamsburg Echo Park. Letterpress VHS heirloom hella, put a bird on it normcore gentrify pour-over. Etsy fixie sustainable taxidermy, occupy XOXO hashtag. Keffiyeh pork belly banjo gluten-free, pickled lumbersexual mustache shabby chic actually readymade church-key.</p>
					<p>Seitan iPhone beard meh, lo-fi migas paleo. Meggings craft beer Intelligentsia bespoke, direct trade tattooed lumbersexual retro skateboard cred hella flexitarian YOLO banjo. Twee heirloom blog, cold-pressed selvage actually food truck tote bag farm-to-table. Truffaut church-key direct trade XOXO viral squid. Twee retro 8-bit Wes Anderson bicycle rights occupy. Butcher pug irony, typewriter Schlitz Portland master cleanse. Messenger bag four loko DIY, next level beard Portland gastropub synth.</p>
					<p>Gentrify jean shorts asymmetrical, Brooklyn swag biodiesel organic Blue Bottle. Salvia yr Vice meggings, ennui you probably haven't heard of them plaid meditation hoodie raw denim direct trade cray banjo wolf Brooklyn. Wes Anderson master cleanse vegan chia Brooklyn, taxidermy biodiesel keytar health goth shabby chic swag lo-fi fashion axe High Life. Health goth Bushwick Odd Future, Godard listicle blog 90's. Small batch paleo sartorial, kitsch swag direct trade art party plaid Brooklyn shabby chic. Viral cray forage sustainable iPhone, 8-bit Brooklyn wolf. Distillery slow-carb VHS, gluten-free Odd Future chillwave cliche bespoke artisan banh mi.</p>
					<p>Church-key whatever tilde tofu kale chips. Vinyl kale chips next level cronut lumbersexual. Wes Anderson sriracha fashion axe, swag wolf direct trade occupy dreamcatcher gentrify hoodie next level food truck butcher distillery Tumblr. Schlitz tousled raw denim, mustache hoodie VHS meggings sriracha Portland. Pork belly banjo PBR&amp;B +1 gentrify tilde. Marfa disrupt whatever, cliche meh kogi freegan chambray salvia. Hella DIY flexitarian swag VHS.</p>
				</div>
			</div>
		</div>

	</div>
</template>
