<template name="purchase">
  <div class="container">
    <h2 class="center-align">Unit Prices</h2>
    <table class="hoverable">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Supply</td>
          <td>1</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Reserve Infantry</td>
          <td>5</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Regular Infantry</td>
          <td>8</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Armor</td>
          <td>15</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Submarines</td>
          <td>6</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Light Fleets</td>
          <td>12</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Heavy Fleets</td>
          <td>16</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Air Unit</td>
          <td>10</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Rocket Unit</td>
          <td>8</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>First Atom Bomb</td>
          <td>50</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Second Atom Bomb</td>
          <td>35</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Further Atomic Bombs</td>
          <td>20</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Unit of Weapons Research</td>
          <td>1</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Franc</td>
          <td>1</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>GDP</td>
          <td>Variable...</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="right-align">
      <span>Current GDP ___________</span>
      <span>Total ____________</span>
    </div>
    <textarea style="margin:3rem 0;" placeholder="Additional Notes for the Butler"></textarea>
    <div class="right-align">
      <button class="btn">Submit to the Butler</button>
    </div>

  </div>
</template>
